<!DOCTYPE html>
<html lang="en">
    <head>
        <META HTTP-EQUIV='PRAGMA' CONTENT='NO-CACHE'>
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta charset="utf-8">
        <title>pyBit - Lookups</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="favicon.png" />
        <style type="text/css">
            body
            {
                padding-top : 60px; /* 60px to make the container go all the way
                 * to the bottom of the topbar */
                padding-bottom : 40px;
            }
        </style>
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <script src="{{protocol}}{{jqueryurl}}" type="text/javascript"></script>
        <script src="{{protocol}}{{jqueryformurl}}" type="text/javascript"></script>
        <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                            <a class="brand" href="index.htm">pyBit</a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li>
                                        <a href="index.htm">Home</a>
                                    </li>
                                    <li class="active">
                                        <a href="lookups.htm">Lookups</a>
                                    </li>
                                    <li>
                                        <a href="package.htm">Packages</a>
                                    </li>
                                    <li>
                                        <a href="packageinstance.htm">Package Instances</a>
                                    </li>
                                    <li>
                                        <a href="job.htm">Jobs</a>
                                    </li>
                                    <li>
                                        <a href="buildd.htm">Build Boxes</a>
                                    </li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2">
                <!--Sidebar content-->
                <div class="well sidebar-nav">
                    <ul class="nav  nav-list">
                        <li class="nav-header">
                            Navigation
                        </li>
                        <li>
                            <a href="index.htm">Home</a>
                        </li>
                        <li class="nav-header">
                            Lookups
                        </li>
                        <li class="active">
                            <a href="arches.htm">Architectures</a>
                        </li>
                        <li>
                            <a href="statuses.htm">Statuses</a>
                        </li>
                        <li>
                            <a href="dists.htm">Dists</a>
                        </li>
                        <li>
                            <a href="formats.htm">Formats</a>
                        </li>
                        <li>
                            <a href="suites.htm">Suites</a>
                        </li>
                        <li>
                            <a href="envs.htm">Build Environments</a>
                        </li>
                        <li class="nav-header">
                            Packages
                        </li>
                        <li>
                            <a href="package.htm">All Packages</a>
                        </li>
                        <li>
                            <a href="packageinstance.htm">Package Instances</a>
                        </li>
                        <li class="nav-header">
                            Jobs
                        </li>
                        <li>
                            <a href="job.htm">Jobs</a>
                        </li>
                        <li>
                            <a href="buildd.htm">BuildBoxes</a>
                        </li>
                        <li>
                            <a href="blacklist.htm">Blacklist Rules</a>
                        </li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <div class="span10">
                <!--Body content-->
                <div class="container-fluid">
                    <h1>PyBit - python Buildd Integration Toolkit.</h1>
                    <h3> Add Package Architectures</h3>
                    <div class="accordion" id="accordion1">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"> Package Architectures </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <form class="form-inline" method="POST" action="arch"  id="arch_form" name="arch_form">
 <span class="help-block">Enter the name of a package architecture, to add it to the database. Examples of such architectures include 'i386'. <br/> One example of when you would need to add something to this list, is if a new platform becomes supported.</span>
                                        <label for="name">Name</label>
                                        <input name="name" type="text" />
                                        <button type="submit" class="btn  btn-primary">
                                            Submit
                                        </button>
                                        <button type="button" class="btn">
                                            Cancel
                                        </button>
                                    </form>
                                    <table id="tbl_arches"  class="table table-bordered table-condensed">
                                        <tr>
                                            <th colspan='2'>Architectures</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
						</div>
                        <div class="accordion-group">


                                                        <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> Suite Arches</a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <form class="form-inline" method="POST" action="suitearch"  id="suitearch_form" name="suitearch_form">
 <span class="help-block">Choose an existing arch to add to the list of supported ones for a particular software suite </span>

                                        <label for="suite_id">Suite: </label>
                                        <select name="suite_id"  id="suite_id" size="1" style="width: 480px; display: block;"></select>

                                        <label for="arch_id">Arch: </label>
                                        <select name="arch_id"  id="arch_id" size="1" style="width: 480px; display: block;"></select>

										<br/>

                                        <label for="master_weight">Weight: </label>
                                        <input name="master_weight"  id="master_weight" type="text" value="0"/>

										<br/>

                                        <button type="submit" class="btn  btn-primary">
                                            Submit
                                        </button>
                                        <button type="button" class="btn">
                                            Cancel
                                        </button>
                                    </form>
                                    <table id="tbl_suitearches"  class="table table-bordered table-condensed">
										<thead>
                                        <tr>
                                            <th colspan='3'>Suite Arches</th>
                                        </tr>
										<tr><th>Name</th><th>Master Weight</th><th>Operations</th></tr>
										</thead>
										<tbody>
										</tbody>
                                    </table>
                                </div>
                            </div>




                        </div>
                    </div>
                    <hr>
                    <footer>
                        <p>
                            &copy; TCL 2012
                        </p>
                    </footer>
                </div>
                <!--/.fluid-container-->
                <script type="text/javascript">
                    function getUrlVars ( )
                    {
                        var vars =
                        {
                        };
                        var parts = window.location.href.replace ( /[?&]+([^=&]+)=([^&]*)/gi , function ( m , key , value )
                        {
                            vars [ key ] = value;
                        } );
                        return vars;
                    }

                    function delete_click ( id , target )
                    {
                        switch (target)
                        {
                            case 1:
                                target = "arch"
                                break;
							case 5:
                                target = "suitearch"
                                break;
                        }
                        $.ajax (
                        {
                            type : "GET" ,
                            url : "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/" + target + "/" + id + "/delete" ,
                            statusCode: {
								409: function() {
									alert("This arch cannot be deleted because other things depend on it in the database.");
									return;
								}
							},
                            error : function ( data )
                            {
                                alert ( 'Error deleting ' + target + ' with id: ' + id + "\n" + data.responseText );
                                location.reload ( );
                            } ,
                            success : function ( data )
                            {
                                alert ( 'OK deleting ' + target + ' with id: ' + id );
                                location.reload ( );
                            }

                        } );
                    }

                    function doArches()
                    {
						  var arch_page = 1;

                        $ ( '#arch_form' ).ajaxForm ( function ( )
                        {
                            alert ( "Arch Added!" );
                            location.reload ( );
                        } );
                        if ( getUrlVars() [ "arch_page" ] )
                        {
                            arch_page = getUrlVars() [ "arch_page" ]
                            var url = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/arch/page/" + arch_page
                        }
                        else
                        {
                            var url = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/arch/page/1"
                        }
                        new_arch_page = parseInt ( arch_page ) + 1;
                        last_arch_page = parseInt ( arch_page ) - 1;
                        $.getJSON ( url , function ( json )
                        {
                            $.each ( json , function ( i , field )
                            {
                                $ ( "#tbl_arches" ).append ( "<tr><td>" + field.name + "<br><input id='delete' class='.btn-small  btn-danger' type='button' value='Delete' onclick='delete_click(" + field.id + ",1)'></input></td></tr>" );
                            } );

                            var url2= "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/arch/count"
                            $.getJSON ( url2 , function ( json2 )
							{

							var html_part1 = "";
							if (arch_page > 0)
							{
							html_part1 = "<li><a href='" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/arches.htm?arch_page=" + last_arch_page + "'>Prev</a></li><li><a>" + arch_page + "/" + json2 + "</a></li>";
							}

							var html_part2 = "";
							if (arch_page < json2) // Not last page
							{
								html_part2 = "<li><a href='" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/arches.htm?arch_page=" + new_arch_page + "'>Next</a></li>";
							}

							 $ ( '#tbl_arches' ).append ( "<div class='pagination'><ul>" + html_part1 + html_part2 + "</ul></div>" );

							});

                        } );
					}

					function doSuiteArches()
					{
						                        var suitearch_page = 1;

                        $ ( '#suitearch_form' ).ajaxForm ( function ( )
                        {
                            alert ( "Suite Arch Added!" );
                            location.reload ( );
                        } );

                        var suite_names = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/suite"
                        $.getJSON ( suite_names , function ( json )
                        {
                            $.each ( json , function ( i , field )
                            {
							$ ( "#suite_id" ).append ( "<option value='" + field.id + "'>" + field.name + "</option>" );
                            } );
                        } );

                        var arch_names = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/arch"
                        $.getJSON ( arch_names , function ( json )
                        {
                            $.each ( json , function ( i , field )
                            {
							$ ( "#arch_id" ).append ( "<option value='" + field.id + "'>" + field.name + "</option>" );
                            } );
                        } );

						var url = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/suitearch"

                        $.getJSON ( url , function ( json )
                        {
                            $.each ( json , function ( i , field )
                            {
                                $ ( "#tbl_suitearches" ).append ( "<tr><td>" + field.suite.name + "/" + field.arch.name + "</td><td>" + field.master_weight + "</td><td><br><input id='delete' class='.btn-small  btn-danger' type='button' value='Delete' onclick='delete_click(" + field.id + ",5)'></input></td></tr>" );
                            } );
                        } );
                    }

                    $ ( ).ready ( function ( )
                    {
                      doArches();
                      doSuiteArches();
                    } );
                </script>
            </div>
        </div>
    </body>
</html>
