<!DOCTYPE html>
<html lang="en">
    <head>
        <META HTTP-EQUIV='PRAGMA' CONTENT='NO-CACHE'>
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta charset="utf-8">
        <title>pyBit - BuildBoxes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="favicon.png" />
        <style type="text/css">
            body
            {
                padding-top : 60px; /* 60px to make the container go all the way
                 * to the bottom of the topbar */
                padding-bottom : 40px;
            }
        </style>
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <script src="{{protocol}}{{jqueryurl}}" type="text/javascript"></script>
        <script src="{{protocol}}{{jqueryformurl}}" type="text/javascript"></script>
        <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                            <a class="brand" href="index.htm">pyBit</a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li>
                                        <a href="index.htm">Home</a>
                                    </li>
                                    <li>
                                        <a href="lookups.htm">Lookups</a>
                                    </li>
                                    <li>
                                        <a href="package.htm">Packages</a>
                                    </li>
                                    <li>
                                        <a href="packageinstance.htm">Package Instances</a>
                                    </li>
                                    <li>
                                        <a href="job.htm">Jobs</a>
                                    </li>
                                    <li class="active">
                                        <a href="buildd.htm">Build Boxes</a>
                                    </li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2">
                <!--Sidebar content-->
                <div class="well sidebar-nav">
                    <ul class="nav  nav-list">
                        <li class="nav-header">
                            Navigation
                        </li>
                        <li>
                            <a href="index.htm">Home</a>
                        </li>
                        <li class="nav-header">
                            Lookups
                        </li>
                        <li>
                            <a href="arches.htm">Architectures</a>
                        </li>
                        <li>
                            <a href="statuses.htm">Statuses</a>
                        </li>
                        <li>
                            <a href="dists.htm">Dists</a>
                        </li>
                        <li>
                            <a href="formats.htm">Formats</a>
                        </li>
                        <li>
                            <a href="suites.htm">Suites</a>
                        </li>
                        <li>
                            <a href="envs.htm">Build Environments</a>
                        </li>
                        <li class="nav-header">
                            Packages
                        </li>
                        <li>
                            <a href="package.htm">All Packages</a>
                        </li>
                        <li>
                            <a href="packageinstance.htm">Package Instances</a>
                        </li>
                        <li class="nav-header">
                            Jobs
                        </li>
                        <li>
                            <a href="job.htm">Jobs</a>
                        </li>
                        <li class="active">
                            <a href="buildd.htm">BuildBoxes</a>
                        </li>
                        <li>
                            <a href="blacklist.htm">Blacklist Rules</a>
                        </li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <div class="span10">
                <!--Body content-->
                <div class="container-fluid">
                    <h1>PyBit - python Buildd Integration Toolkit.</h1>
                    <h3>Lookups</h3>
                    <div class="accordion" id="accordion1">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"> Click here to show the register form. </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <form class="form-inline" method="POST" action="buildd" id="buildbox_form" name="buildbox_form">
                                        <legend>
                                            Add a Buildbox
                                        </legend>
 <span class="help-block">To add a BuildBoxes to the database, add its hostname, using the form below.<br/><b>When creating a new BuildBox, prefix its name with "build_client_".</b></span>
                                        <label for="name">Name</label>
                                        <input name="name" type="text"value="build_client_" />
                                        <button type="submit" class="btn  btn-primary">
                                            Submit
                                        </button>
                                        <button type="button" class="btn">
                                            Cancel
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
 <span class="help-block">Known BuildBoxes are listed below. To add a new machine to the database, add its hostname, using the form above. <br/> The status of the machine is shown next to it's name, as are any available operations.</span>
                    <table id="tbl_buildds"  class="table table-bordered table-condensed">
                        <tr>
                            <th colspan='3'>Buildboxes</th>
                        </tr>
                        <tr>
                            <th>Name</th><th>Status</th><th>Operations</th>
                        </tr>
                    </table>
                    <hr>
                    <footer>
                        <p>
                            &copy; TCL 2012
                        </p>
                    </footer>
                </div>
                <!--/.fluid-container-->
                <script type="text/javascript">
                    function getUrlVars ( )
                    {
                        var vars =
                        {
                        };
                        var parts = window.location.href.replace ( /[?&]+([^=&]+)=([^&]*)/gi , function ( m , key , value )
                        {
                            vars [ key ] = value;
                        } );
                        return vars;
                    }

                    function delete_click ( id )
                    {
                        $.ajax (
                        {
                            type : "GET" ,
                            url : "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/buildd/" + id + "/delete" ,
                            statusCode: {
								409: function() {
									alert("This buildd cannot be deleted because other things depend on it in the database.");
									return;
								}
							},
                            error : function ( data )
                            {
                                alert ( 'Error deleting buildd with id: ' + id + "\n" + data.responseText );
                                location.reload ( );
                            } ,
                            success : function ( data )
                            {
                                alert ( 'OK deleting buildd with id: ' + id );
                                location.reload ( );
                            }

                        } );
                    }
                    $ ( ).ready ( function ( )
                    {
                        var buildd_page = 1;

                        $ ( '#buildbox_form' ).ajaxForm ( function ( )
                        {
                            alert ( "Added buildd OK!" );
                            location.reload ( );
                        } );

if ( getUrlVars() [ "buildd_page" ] )
                        {
                            buildd_page = getUrlVars() [ "buildd_page" ]
                            var url = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/buildd/page/" + buildd_page
                        }
                        else
                        {
                            var url = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/buildd/page/1"
                        }
                        new_buildd_page = parseInt ( buildd_page ) + 1;
                        last_buildd_page = parseInt ( buildd_page ) - 1;
						$.getJSON ( url , function ( json )
                        {
                            $.each ( json , function ( i , field )
                            {
                                var shortname = field.name.replace ( "build_client_" , "" );
                                // TODO: HACKS
                                status_url = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/buildd/" + field.name + "/status"
                                $.get ( status_url , function ( status )
                                {
                                    if ( status == "Not Active" )
                                    {
                                        _class = "error";
                                        $ ( "#tbl_buildds" ).append ( "<tr class='" + _class + "'><td>" + shortname + "</td><td>" + status + "</td><td><input id='delete' class='.btn-small  btn-danger' type='button' value='Delete' onclick='delete_click(" + field.id + ")'></input></td></tr>" );
                                    }
                                    else
                                    if ( status == "Active" )
                                    {
                                        _class = "success";
                                        $ ( "#tbl_buildds" ).append ( "<tr class='" + _class + "'><td>" + shortname + "</td><td>" + status + "</td><td><a  href='" + "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/buildd/" + field.id + "/jobs'>View Jobs</a><br><a  href='" + window.location.protocol.toString ( ) + "//" + shortname + "/logs/pybitclient.log'>View Logs</a></td></tr>" );
                                    }
                                } );
                            } );

                            var url2= "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/buildd/count"
                            $.getJSON ( url2 , function ( json2 )
							{

							var html_part1 = "";
							if (buildd_page > 0)
							{
							html_part1 = "<li><a href='" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/buildd.htm?buildd_page=" + last_buildd_page + "'>Prev</a></li><li><a>" + buildd_page + "/" + json2 + "</a></li>";
							}

							var html_part2 = "";
							if (buildd_page < json2) // Not last page
							{
							html_part2 = "<li><a href='" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/buildd.htm?buildd_page=" + new_buildd_page + "'>Next</a></li>";
							}

                            $ ( '#tbl_buildds' ).append ( "<div class='pagination'><ul>" + html_part1 + html_part2 + "</ul></div>" );
							});
                       } );
                    } );
                </script>
            </div>
        </div>
    </body>
</html>
