<!DOCTYPE html>
<html lang="en">
    <head>
        <META HTTP-EQUIV='PRAGMA' CONTENT='NO-CACHE'>
        <META HTTP-EQUIV="Expires" CONTENT="-1">
        <meta charset="utf-8">
        <title>pyBit - Lookups</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="favicon.png" />
        <style type="text/css">
            body
            {
                padding-top : 60px; /* 60px to make the container go all the way
                 * to the bottom of the topbar */
                padding-bottom : 40px;
            }
        </style>
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <script src="{{protocol}}{{jqueryurl}}" type="text/javascript"></script>
        <script src="{{protocol}}{{jqueryformurl}}" type="text/javascript"></script>
        <script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
                            <a class="brand" href="index.htm">pyBit</a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li>
                                        <a href="index.htm">Home</a>
                                    </li>
                                    <li class="active">
                                        <a href="lookups.htm">Lookups</a>
                                    </li>
                                    <li>
                                        <a href="package.htm">Packages</a>
                                    </li>
                                    <li>
                                        <a href="packageinstance.htm">Package Instances</a>
                                    </li>
                                    <li>
                                        <a href="job.htm">Jobs</a>
                                    </li>
                                    <li>
                                        <a href="buildd.htm">Build Boxes</a>
                                    </li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="span2">
                <!--Sidebar content-->
                <div class="well sidebar-nav">
                    <ul class="nav  nav-list">
                        <li class="nav-header">
                            Navigation
                        </li>
                        <li>
                            <a href="index.htm">Home</a>
                        </li>
                        <li class="nav-header">
                            Lookups
                        </li>
                        <li>
                            <a href="arches.htm">Architectures</a>
                        </li>
                        <li>
                            <a href="statuses.htm">Statuses</a>
                        </li>
                        <li>
                            <a href="dists.htm">Dists</a>
                        </li>
                        <li>
                            <a href="formats.htm">Formats</a>
                        </li>
                        <li>
                            <a href="suites.htm">Suites</a>
                        </li>
                        <li class="active">
                            <a href="envs.htm">Build Environments</a>
                        </li>
                        <li class="nav-header">
                            Packages
                        </li>
                        <li>
                            <a href="package.htm">All Packages</a>
                        </li>
                        <li>
                            <a href="packageinstance.htm">Package Instances</a>
                        </li>
                        <li class="nav-header">
                            Jobs
                        </li>
                        <li>
                            <a href="job.htm">Jobs</a>
                        </li>
                        <li>
                            <a href="buildd.htm">BuildBoxes</a>
                        </li>
                        <li>
                            <a href="blacklist.htm">Blacklist Rules</a>
                        </li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <div class="span10">
                <!--Body content-->
                <div class="container-fluid">
                    <h1>PyBit - python Buildd Integration Toolkit.</h1>
                    <h3> Add Build Environments</h3>
                    <div class="accordion" id="accordion1">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"> Build Environments</a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <form class="form-inline" method="POST" action="env"  id="env_form" name="env_form">
 <span class="help-block">Enter the name of a build environment, to add it to the database. Examples of such environments include 'wheezy'.</span>
                                        <label for="name">Name</label>
                                        <input name="name" type="text" />
                                        <button type="submit" class="btn  btn-primary">
                                            Submit
                                        </button>
                                        <button type="button" class="btn">
                                            Cancel
                                        </button>
                                    </form>
                                    <table id="tbl_envs"  class="table table-bordered table-condensed">
                                        <tr>
                                            <th colspan='2'>Build Environments</th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">


                                                        <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Environment / Suite Arch Mappings</a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse in">
                                <div class="accordion-inner">
                                    <form class="form-inline" method="POST" action="buildenv_suitearch"  id="buildenv_suitearch_form" name="buildenv_suitearch_form">
 <span class="help-block">Choose an existing arch to add to the list of supported ones for a particular software suite </span>

                                        <label for="buildenv_id">Environment: </label>
                                        <select name="buildenv_id"  id="buildenv_id" size="1" style="width: 480px; display: block;"></select>

                                        <label for="suitearch_id">Suite Arch: </label>
                                        <select name="suitearch_id"  id="suitearch_id" size="1" style="width: 480px; display: block;"></select>

										<br/>

                                        <button type="submit" class="btn  btn-primary">
                                            Submit
                                        </button>
                                        <button type="button" class="btn">
                                            Cancel
                                        </button>
                                    </form>
                                    <table id="tbl_buildenv_suitearches"  class="table table-bordered table-condensed">
										<thead>
                                        <tr>
                                            <th colspan='3'>Environment / Suite Arch Mappings</th>
                                        </tr>
										<tr><th>Environment</th><th>Suite Arch</th><th>Operations</th></tr>
										</thead>
										<tbody>
										</tbody>
                                    </table>
                                </div>
                            </div>




                        </div>
                    </div>
                    <hr>
                    <footer>
                        <p>
                            &copy; TCL 2012
                        </p>
                    </footer>
                </div>
                <!--/.fluid-container-->
                <script type="text/javascript">
                    function getUrlVars ( )
                    {
                        var vars =
                        {
                        };
                        var parts = window.location.href.replace ( /[?&]+([^=&]+)=([^&]*)/gi , function ( m , key , value )
                        {
                            vars [ key ] = value;
                        } );
                        return vars;
                    }

                    function delete_click ( id , target )
                    {
                        switch (target)
                        {
                            case 1:
                                target = "env"
                                break;
                            case 2:
                                target = "buildenv_suitearch"
                                break;
                        }
                        $.ajax (
                        {
                            type : "GET" ,
                            url : "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/" + target + "/" + id + "/delete" ,
                            statusCode: {
								409: function() {
									alert("This build environment cannot be deleted because other things depend on it in the database.");
									return;
								}
							},
                            error : function ( data )
                            {
                                alert ( 'Error deleting ' + target + ' with id: ' + id + "\n" + data.responseText );
                                location.reload ( );
                            } ,
                            success : function ( data )
                            {
                                alert ( 'OK deleting ' + target + ' with id: ' + id );
                                location.reload ( );
                            }

                        } );
                    }

					function doEnvs()
					{
					 var env_page = 1;

                        $ ( '#env_form' ).ajaxForm ( function ( )
                        {
                            alert ( "Environment Added!" );
                            location.reload ( );
                        } );
                        if ( getUrlVars() [ "env_page" ] )
                        {
                            env_page = getUrlVars() [ "env_page" ]
                            var url = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/env/page/" + env_page
                        }
                        else
                        {
                            var url = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/env/page/1"
                        }
                        new_env_page = parseInt ( env_page ) + 1;
                        last_env_page = parseInt ( env_page ) - 1;
                        $.getJSON ( url , function ( json )
                        {
                            $.each ( json , function ( i , field )
                            {
                                $ ( "#tbl_envs" ).append ( "<tr><td>" + field.name + "<br><input id='delete' class='.btn-small  btn-danger' type='button' value='Delete' onclick='delete_click(" + field.id + ",1)'></input></td></tr>" );
                            } );

                            var url2= "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/env/count"
                            $.getJSON ( url2 , function ( json2 )
							{

							var html_part1 = "";
							if (env_page > 0)
							{
							html_part1 = "<li><a href='" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/envs.htm?env_page=" + last_env_page + "'>Prev</a></li><li><a>" + env_page + "/" + json2 + "</a></li>";
							}

							var html_part2 = "";
							if (env_page < json2) // Not last page
							{
								html_part2 = "<li><a href='" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/envs.htm?env_page=" + new_env_page + "'>Next</a></li>";
							}

							 $ ( '#tbl_envs' ).append ( "<div class='pagination'><ul>" + html_part1 + html_part2 + "</ul></div>" );

							});

                        } );
					}

					function populateDropdowns()
					{
                       var buildenv_names = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/env"
                        $.getJSON ( buildenv_names , function ( json )
                        {
                            $.each ( json , function ( i , field )
                            {
							$ ( "#buildenv_id" ).append ( "<option value='" + field.id + "'>" + field.name + "</option>" );
                            } );
                        } );

                        var suitearch_names = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/suitearch"
                        $.getJSON ( suitearch_names , function ( json )
                        {
                            $.each ( json , function ( i , field )
                            {
							$ ( "#suitearch_id" ).append ( "<option value='" + field.id + "'>" + field.arch.name + "/" + field.suite.name + "</option>" );
                            } );
                        } );
					}

					function doBuildenv_suitearches()
					{

						populateDropdowns();
					 var buildenv_suitearch_page = 1;

                        $ ( '#buildenv_suitearch_form' ).ajaxForm ( function ( )
                        {
                            alert ( "Environment / Suite Arch Mapping Added!" );
                            location.reload ( );
                        } );

							// TODO: Paging
                            var url = "" + window.location.protocol.toString ( ) + "//" + window.location.host.toString ( ) + "/buildenv_suitearch"

                        new_buildenv_suitearch_page = parseInt ( buildenv_suitearch_page ) + 1;
                        last_buildenv_suitearch_page = parseInt ( buildenv_suitearch_page ) - 1;
                        $.getJSON ( url , function ( json )
                        {
                            $.each ( json , function ( i , field )
                            {
                                $ ( "#tbl_buildenv_suitearches" ).append ( "<tr><td>" + field.buildenv.name + "</td><td>" + field.suitearch.arch.name + "/" + field.suitearch.suite.name + "</td><td><input id='delete' class='.btn-small  btn-danger' type='button' value='Delete' onclick='delete_click(" + field.id + ",2)'></input></td></tr>" );
                            } );

                        } );
					}


                    $ ( ).ready ( function ( )
                    {
                       doEnvs();
                       doBuildenv_suitearches();
                    } );
                </script>
            </div>
        </div>
    </body>
</html>
